
.card {
	border: 1px solid #dedede;
	box-shadow: 5px 5px #dedede;
	align-items: center;
	width: 300px;
	padding: 10px;
}

img {
	padding-bottom: 10px;
}

.details {
	border: 1px solid #dedede;
	padding: 10px;
	font-size: small;
}

.description {
	font-style: italic;
}

.list {
	list-style: none;
	padding-left: 0;
}

.items {
	font-weight: bold;
}
